
$font-family: 'Montserrat', sans-serif;
$background-color: #242425;
$hover-background-color: #1a1a1c;
$second-background-color: #161617; // #2c2c2e
$second-color: #e5194d;
$hover-second-color: #a00d33;
$text-color: #ffffff;
