@import 'root';

.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: $hover-background-color;
        box-shadow: 15px 15px 0px 0px $second-background-color;
        border-radius: 15px;
        padding: 50px;

        h1 {
            width: 100%;
            margin-bottom: 30px;
            text-align: center;
        }

        .error {
            color: red;
            text-align: center;
            width: 100%;
            height: auto;
            font-size: 80%;
            margin-bottom: 1em;

            &:empty {
                display: none;
            }
        }

        label {
            margin-left: 0.3rem;

            sup {
                color: $second-color;
            }
        }

        input, 
        button {
            width: 25rem;
            background-color: $second-background-color;
            color: $text-color;
            border: 2px solid $background-color;
            border-radius: 10px;
            font-size: 115%;
            padding: 10px;
            box-sizing: border-box;
            outline: none;
            display: block;
            margin-top: 10px;
            margin-bottom: 30px;

            &:focus {
                box-shadow: 0px 0px 5px 2px $background-color;
            }

            &[type="submit"] { // button
                cursor: pointer;
                letter-spacing: 1px;

                &:hover {
                    background-color: $second-background-color;
                    box-shadow: 0px 0px 5px 2px $background-color;
                }
            }
        }

        hr {
            height: 0.1rem;
            width: 100%;
            margin-bottom: 30px;
            background-color: $second-background-color;
            border: 0;
        }

        span {
            font-size: 80%;
            margin-bottom: 10px;

            a {
                color: $text-color;
                font-weight: bold;
            }
        }
    }
}